In [ ]:
#@title 1 ~ 10ë²ˆ
import numpy as np
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [ ]:
# 1. ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼ (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

print(list(df["channelTitle"].value_counts().head(10).index))

['ì§¤íˆ°', 'íŒŒë¿Œë¦¬', 'SPOTV', 'ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„', 'ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„', 'ì¥ì‚ì­ˆ', 'BANGTANTV', 'ì±„ë„ ì‹­ì˜¤ì•¼', 'ì´ê³¼ì¥', 'ì´ëª‡ëª…']

In [ ]:
# 2. ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikesìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

print(list(df["channelTitle"][df["likes"] < df["dislikes"]].unique()))

['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang', 'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ', 'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports']

In [ ]:
# 3. ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

change = df[["channelId", "channelTitle"]].drop_duplicates().channelId.value_counts()

print(len(change[change > 1]))

71

In [ ]:
# 4. ì¼ìš”ì¼ì— ì¸ê¸°ìˆì—ˆë˜ ì˜ìƒë“¤ì¤‘ ê°€ì¥ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€?

df["trending_date2"] = pd.to_datetime(df["trending_date2"])
df["dayname"] = df["trending_date2"].dt.day_name()

print(df["categoryId"][df["dayname"] == "Sunday"].value_counts().index[0])

24

In [ ]:
# 5. ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

df["trending_date2"] = pd.to_datetime(df["trending_date2"])
df["dayname"] = df["trending_date2"].dt.day_name()

df.groupby(["dayname", "categoryId"], as_index = False).size().pivot(index='categoryId', columns='dayname')

             size
dayname    Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1             243    263      255    274      246     257       234
2             120    105      119     99      128     119       129
10            833    837      776    830      890     894       917
15            187    215      198    217      207     208       207
17            633    668      592    636      682     708       706
19             90     92       87     91       92      89        85
20            283    298      296    289      282     285       291
22           1288   1373     1289   1337     1341    1375      1333
23            568    594      570    556      560     569       566
24           2976   3148     3066   3096     2954    3084      3090
25            444    453      422    437      470     452       468
26            369    378      364    363      375     394       385
27            183    205      183    199      194     194       212
28            171    160      173    167      166     161       165
29             12     10       10      9       13      11        12

In [ ]:
# 6. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_countê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

df["view_count2"] = df["view_count"][df["view_count"] > 0]
df["ratio"] = (df["comment_count"] / df["view_count2"]).dropna()

print(df.sort_values(by = "ratio", ascending = False).iloc[0].title)

60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)

In [ ]:
# 7. ëŒ“ê¸€ì˜ ìˆ˜ë¡œ (comment_count) ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤.viewcountëŒ€ë¹„ ëŒ“ê¸€ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼ (view_counts, ratioê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

df["view_count"] = df["view_count"][df["view_count"] != 0]
df["ratio"] = (df["comment_count"] / df["view_count"]).dropna()
df["ratio"] = df["ratio"][df["ratio"] != 0]

print(df.sort_values(by = "ratio", ascending = True).iloc[0].title)

Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts

In [ ]:
# 8. like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

df["likes"] = df["likes"][df["likes"] != 0]
df["dislikes"] = df["dislikes"][df["dislikes"] != 0]

df["ratio"] = (df["dislikes"] / df["likes"]).dropna()

print(df.sort_values(by = "ratio", ascending = True).iloc[0].title)

[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€ë“í•œ NCT 127 ë„ì˜&ì •ìš°ì˜ ì¤Œí„°ë·°

In [ ]:
# 9. ê°€ì¥ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€? (ë‚ ì§œê¸°ì¤€, ì¤‘ë³µí¬í•¨)

print(df["channelTitle"][df["channelId"] == df["channelId"].value_counts().index[0]].unique())

['ì§¤íˆ°']

In [ ]:
# 10. 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?

print((df[["title", "channelId"]].value_counts() >= 20).sum())

40

In [ ]:
#@title 11 ~ 20ë²ˆ

import pandas as pd


channel =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
video =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')
display(channel.head())
display(video.head())

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

In [ ]:
# 11. ê° ë°ì´í„°ì˜ â€˜ctâ€™ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í• ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° value ë§ˆë‹¤ ëª‡ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼

channel["ct"] = pd.to_datetime(channel["ct"])
video["ct"] = pd.to_datetime(video["ct"])

print(video["videoname"].value_counts())

 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
Name: videoname, dtype: int64

In [ ]:
# 12. ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™” ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼

video["ct"] = pd.to_datetime(video["ct"])

df = video.sort_values(["videoname", "ct"], ascending = False).drop_duplicates("videoname")
df = df[["videoname", "ct", "viewcnt"]]

df.sort_values("videoname", ascending = True).style.hide_index()

In [ ]:
# 13. Channel ë°ì´í„°ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ ëë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼

channel["ct"] = pd.to_datetime(channel["ct"])

df = channel[channel["ct"] >= "2021-10-03"].drop_duplicates("channelname").reset_index(drop = True)
df = df[["channelname", "subcnt"]]

print(df)

        channelname   subcnt
0               ê½ˆëšœë£¹  1330000
1             ì•¼ì „ì‚½ì§±ì¬   257000
2        ì¸„ì •ChuJeong   322000
3            ë…¼ë¦¬ì™• ì „ê¸°   922000
4   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
5               ì¡°ë‚˜ë‹¨   215000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
8       ë¦´í„ Lilpearl    10100
9     ê³½í† ë¦¬ kwak tori   471000
10    Balming Tiger    54300

In [ ]:
# 14. ê°ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00 ê¹Œì§€ êµ¬ë…ììˆ˜ (subcnt) ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼

start = channel[["channelname", "subcnt"]][channel["ct"].dt.strftime('%Y-%m-%d %H') == "2021-10-03 03"].reset_index(drop = True)
end = channel[["channelname", "subcnt"]][channel["ct"].dt.strftime('%Y-%m-%d %H') == "2021-11-01 15"].reset_index(drop = True)

start.columns = ["channelname", "start"]
end.columns = ["channelname", "end"]

df = pd.merge(start, end)
df["del"] = df["end"] - df["start"]
print(df[["channelname", "del"]])

        channelname    del
0               ê½ˆëšœë£¹  70000
1             ì•¼ì „ì‚½ì§±ì¬  11000
2        ì¸„ì •ChuJeong   1000
3            ë…¼ë¦¬ì™• ì „ê¸° -11000
4   ì™€ê¸€ì™€ê¸€ WagleWagle      0
5               ì¡°ë‚˜ë‹¨  12000
6           í˜•ì‚¬!íƒì •ë˜ë‹¤  10300
7        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
8       ë¦´í„ Lilpearl  11000
9     ê³½í† ë¦¬ kwak tori  -2000
10    Balming Tiger   2500

In [ ]:
# 15. ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„°ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ì´ìƒì¸ ë°ì´í„° êµ¬ê°„( í•´ë‹¹ ì‹œì  ì „,í›„) ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

df = df[video["videopk"] == "c5JQp6xafqc"]
df


# ìŠ¤í‚µ

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,ê³µë²” EP1
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,ê³µë²” EP1
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,ê³µë²” EP1
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
3487,c5JQp6xafqc,3179698,41040,1113,0,7673,2021-11-01 14:50:04,ê³µë²” EP1
3488,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:00:03,ê³µë²” EP1
3489,c5JQp6xafqc,3179971,41042,1113,0,7673,2021-11-01 15:10:03,ê³µë²” EP1
3490,c5JQp6xafqc,3180332,41043,1113,0,7674,2021-11-01 15:20:02,ê³µë²” EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1

In [ ]:
# 16. ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

result = video[["videoname", "ct"]].sort_values("ct").drop_duplicates("videoname").reset_index(drop = True)
print(result)

  videoname                  ct
0    ê³µë²” EP1 2021-10-07 19:10:03
1    ê³µë²” EP2 2021-10-09 19:10:03
2    ê³µë²” EP3 2021-10-14 19:10:04
3    ê³µë²” EP4 2021-10-16 19:10:04
4    ê³µë²” EP5 2021-10-21 19:10:04
5    ê³µë²” EP6 2021-10-23 19:10:04
6    ê³µë²” EP7 2021-10-28 19:10:04
7    ê³µë²” EP8 2021-10-30 19:20:04

In [ ]:
# 17. â€œê³µë²”â€ ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ”ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videoname ìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ viewcntë¥¼ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼

video["ct"] = pd.to_datetime(video["ct"])
video["time"] = video["ct"].dt.hour

result = video[["viewcnt", "ct", "videoname"]][video["time"] == 21].sort_values("ct").drop_duplicates("videoname").sort_values("viewcnt", ascending = False).reset_index(drop = True)
print(result)

   viewcnt                  ct videoname
0   264029 2021-10-30 21:00:08    ê³µë²” EP8
1   252032 2021-10-28 21:00:04    ê³µë²” EP7
2   217674 2021-10-16 21:00:04    ê³µë²” EP4
3   213899 2021-10-23 21:00:06    ê³µë²” EP6
4   201179 2021-10-21 21:00:04    ê³µë²” EP5
5   148144 2021-10-09 21:00:03    ê³µë²” EP2
6   147183 2021-10-14 21:00:04    ê³µë²” EP3
7   117340 2021-10-07 21:00:03    ê³µë²” EP1

In [ ]:
# 18. video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„° í”„ë ˆì„ì„ ratioë¥¼ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼

df = video.sort_values("ct", ascending = False).drop_duplicates("videoname").reset_index(drop = True)

df["ratio"] = df["dislikecnt"] / df["likecnt"]
result = df[["videoname", "ratio"]].sort_values("ratio", ascending = True).reset_index(drop = True)

print(result)

  videoname     ratio
0    ê³µë²” EP7  0.013636
1    ê³µë²” EP6  0.015881
2    ê³µë²” EP4  0.017971
3    ê³µë²” EP5  0.021128
4    ê³µë²” EP3  0.022360
5    ê³µë²” EP1  0.027118
6    ê³µë²” EP2  0.029844
7    ê³µë²” EP8  0.141357

In [ ]:
# 19. 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤

# ìŠ¤í‚µ

In [ ]:
# 20. video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videoname ì„ êµ¬í•˜ì—¬ë¼

print(video[['videoname','ct']][video.index.isin(set(video.index) - set(video.drop_duplicates().index))])

     videoname                   ct
722     ê³µë²” EP1  2021-10-13 09:41:37
3927    ê³µë²” EP2  2021-10-13 09:41:37

In [ ]:
#@title 21 ~ 30ë²ˆ

import pandas as pd

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/worldcup/worldcupgoals.csv')
df.head()

           Player  Goals                Years  Country
0  Miroslav Klose     16  2002-2006-2010-2014  Germany
1         Ronaldo     15       1998-2002-2006   Brazil
2     Gerd Muller     14            1970-1974  Germany
3   Just Fontaine     13                 1958   France
4            Pele     12  1958-1962-1966-1970   Brazil

In [ ]:
# 21. ì£¼ì–´ì§„ ì „ì²´ ê¸°ê°„ì˜ ê° ë‚˜ë¼ë³„ ê³¨ë“ì ìˆ˜ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ë“ì ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„í˜•íƒœë¡œ ì¶œë ¥í•˜ë¼

df.groupby("Country").sum().sort_values("Goals", ascending = False).head(5)

           Goals
Country
Brazil       228
Germany      226
Argentina    135
Italy        123
France       115

In [ ]:
# 22. ì£¼ì–´ì§„ ì „ì²´ê¸°ê°„ë™ì•ˆ ê³¨ë“ì ì„ í•œ ì„ ìˆ˜ê°€ ê°€ì¥ ë§ì€ ë‚˜ë¼ ìƒìœ„ 5ê°œ êµ­ê°€ì™€ ê·¸ ì„ ìˆ˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ í˜•ì‹ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

result = pd.DataFrame(df.groupby("Country").size().sort_values(ascending = False).head(5))
print(result)

            0
Country
Brazil     81
Germany    78
Italy      60
Argentina  59
France     58

In [ ]:
# 23. Years ì»¬ëŸ¼ì€ ë…„ë„ -ë…„ë„ í˜•ì‹ìœ¼ë¡œ êµ¬ì„±ë˜ì–´ìˆê³ , ê° ë…„ë„ëŠ” 4ìë¦¬ ìˆ«ìì´ë‹¤. ë…„ë„ í‘œê¸°ê°€ 4ìë¦¬ ìˆ«ìë¡œ ì•ˆëœ ì¼€ì´ìŠ¤ê°€ ì¡´ì¬í•œë‹¤. í•´ë‹¹ ê±´ì€ ëª‡ê±´ì¸ì§€ ì¶œë ¥í•˜ë¼

df['yearLst'] = df.Years.str.split('-')

def checkFour(x):
    for value in x:
        if len(str(value)) != 4:
            return False
        
    return True
    
df['check'] = df['yearLst'].apply(checkFour)

result = len(df[df.check ==False])
result

45

In [ ]:
# 24. **Q3ì—ì„œ ë°œìƒí•œ ì˜ˆì™¸ ì¼€ì´ìŠ¤ë¥¼ ì œì™¸í•œ ë°ì´í„°í”„ë ˆì„ì„ df2ë¼ê³  ì •ì˜í•˜ê³  ë°ì´í„°ì˜ í–‰ì˜ ìˆ«ìë¥¼ ì¶œë ¥í•˜ë¼ (ì•„ë˜ ë¬¸ì œë¶€í„°ëŠ” df2ë¡œ í’€ì´í•˜ê² ìŠµë‹ˆë‹¤) **

df2 = df[df["check"] == True].reset_index(drop = True)
print(df2.shape[0])

1250

In [ ]:
# 25. ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” â€˜LenCupâ€™ ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  4íšŒ ì¶œì „í•œ ì„ ìˆ˜ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

df2["LenCup"] = df2["yearLst"].str.len()
print(len(df2["Player"][df2["LenCup"] == 4]))

16

In [ ]:
# 26. Yugoslavia êµ­ê°€ì˜ ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 2íšŒì¸ ì„ ìˆ˜ë“¤ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

print(len(df2["Player"][(df2["Country"] == "Yugoslavia") & (df2["LenCup"] == 2)]))

7

In [ ]:
# 27. 2002ë…„ë„ì— ì¶œì „í•œ ì „ì²´ ì„ ìˆ˜ëŠ” ëª‡ëª…ì¸ê°€?

print(len(df2[df2["Years"].str.contains('2002')]))

156

In [ ]:
# 28. ì´ë¦„ì— â€˜carlosâ€™ ë‹¨ì–´ê°€ ë“¤ì–´ê°€ëŠ” ì„ ìˆ˜ì˜ ìˆ«ìëŠ” ëª‡ ëª…ì¸ê°€? (ëŒ€, ì†Œë¬¸ì êµ¬ë¶„ x)

print(len(df2[df2["Player"].str.lower().str.contains("carlos")]))

13

In [ ]:
# 29. ì›”ë“œì»µ ì¶œì „ íšŸìˆ˜ê°€ 1íšŒë¿ì¸ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ ê°€ì¥ ë§ì€ ë“ì ì„ ì˜¬ë ¸ë˜ ì„ ìˆ˜ëŠ” ëˆ„êµ¬ì¸ê°€?

result = df2[["Player", "Goals"]][(df2["LenCup"] == 1)].sort_values("Goals", ascending = False).head(1)
print(result["Player"])

3    Just Fontaine
Name: Player, dtype: object

In [ ]:
# 30. ì›”ë“œì»µ ì¶œì „íšŸìˆ˜ê°€ 1íšŒ ë¿ì¸ ì„ ìˆ˜ë“¤ì´ ê°€ì¥ ë§ì€ êµ­ê°€ëŠ” ì–´ë””ì¸ê°€?

result = df2[df2["LenCup"] == 1].value_counts("Country").index[0]
print(result)

Brazil

In [ ]:
#@title 31 ~ 40ë²ˆ

import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bicycle/seoul_bi.csv')
df.head()

         ëŒ€ì—¬ì¼ì  ëŒ€ì—¬ì‹œê°„  ëŒ€ì—¬ì†Œë²ˆí˜¸ ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ ì„±ë³„ ì—°ë ¹ëŒ€ì½”ë“œ  ì´ìš©ê±´ìˆ˜    ìš´ë™ëŸ‰   íƒ„ì†ŒëŸ‰     ì´ë™ê±°ë¦¬  ì‚¬ìš©ì‹œê°„
0  2021-06-01     0   3541    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00     8
1  2021-06-01     0    765    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  27.21  0.35  1526.81    19
2  2021-06-01     0   2637    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  41.40  0.37  1608.56    18
3  2021-06-01     0   2919    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1   0.00  0.00     0.00    75
4  2021-06-01     0    549    ì •ê¸°ê¶Œ  F  ~10ëŒ€     1  13.04  0.17   731.55     6

In [ ]:
# 31. ëŒ€ì—¬ì¼ìë³„ ë°ì´í„°ì˜ ìˆ˜ë¥¼ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ê³ , ê°€ì¥ ë§ì€ ë°ì´í„°ê°€ ìˆëŠ” ë‚ ì§œë¥¼ ì¶œë ¥í•˜ë¼

date = df.groupby("ëŒ€ì—¬ì¼ì").size()
print(date)

print(date.sort_values(ascending = False).index[0])

ëŒ€ì—¬ì¼ì
2021-06-01    48081
2021-06-02    56100
2021-06-03    18985
2021-06-04    56788
2021-06-05    52730
2021-06-06    47787
2021-06-07    52623
2021-06-08    55623
2021-06-09    54507
2021-06-10    36992
2021-06-11    52089
2021-06-12    48569
2021-06-13    43131
2021-06-14    54945
dtype: int64
2021-06-04

In [ ]:
# 32. ê° ì¼ìì˜ ìš”ì¼ì„ í‘œê¸°í•˜ê³  (â€˜Mondayâ€™ ~â€™Sundayâ€™) â€˜day_nameâ€™ì»¬ëŸ¼ì„ ì¶”ê°€í•˜ê³  ì´ë¥¼ ì´ìš©í•˜ì—¬ ê° ìš”ì¼ë³„ ì´ìš© íšŸìˆ˜ì˜ ì´í•©ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

df["ëŒ€ì—¬ì¼ì"] = pd.to_datetime(df["ëŒ€ì—¬ì¼ì"])
df["day_name"] = df["ëŒ€ì—¬ì¼ì"].dt.day_name()

result = df.groupby("day_name").sum().sort_values("ì´ìš©ê±´ìˆ˜", ascending = False)

print(pd.DataFrame(result["ì´ìš©ê±´ìˆ˜"]))

             ì´ìš©ê±´ìˆ˜
day_name
Wednesday  122653
Friday     120716
Monday     119271
Tuesday    114492
Saturday   110900
Sunday      99297
Thursday    60338

In [ ]:
# 33. ê° ìš”ì¼ë³„ ê°€ì¥ ë§ì´ ì´ìš©í•œ ëŒ€ì—¬ì†Œì˜ ì´ìš©íšŸìˆ˜ì™€ ëŒ€ì—¬ì†Œ ë²ˆí˜¸ë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼

# ìŠ¤í‚µ

In [ ]:
# 34. ë‚˜ì´ëŒ€ë³„ ëŒ€ì—¬êµ¬ë¶„ ì½”ë“œì˜ (ì¼ì¼ê¶Œ/ì „ì²´íšŸìˆ˜) ë¹„ìœ¨ì„ êµ¬í•œ í›„ ê°€ì¥ ë†’ì€ ë¹„ìœ¨ì„ ê°€ì§€ëŠ” ë‚˜ì´ëŒ€ë¥¼ í™•ì¸í•˜ë¼. ì¼ì¼ê¶Œì˜ ê²½ìš° ì¼ì¼ê¶Œ ê³¼ ì¼ì¼ê¶Œ(ë¹„íšŒì›)ì„ ëª¨ë‘ í¬í•¨í•˜ë¼

daily = df[df["ëŒ€ì—¬êµ¬ë¶„ì½”ë“œ"].isin(["ì¼ì¼ê¶Œ", "ì¼ì¼ê¶Œ(ë¹„íšŒì›)"])].value_counts("ì—°ë ¹ëŒ€ì½”ë“œ").sort_index()
total = df.value_counts("ì—°ë ¹ëŒ€ì½”ë“œ").sort_index()

result = (daily / total).sort_values(ascending = False)

print(result, "\nê°€ì¥ ë†’ì€ ë¹„ìœ¨:", result.index[0])

ì—°ë ¹ëŒ€ì½”ë“œ
~10ëŒ€    0.312525
20ëŒ€     0.239913
30ëŒ€     0.166702
40ëŒ€     0.110585
50ëŒ€     0.065414
70ëŒ€~    0.048962
60ëŒ€     0.042462
dtype: float64
ê°€ì¥ ë†’ì€ ë¹„ìœ¨: ~10ëŒ€

In [ ]:
# 35. ì—°ë ¹ëŒ€ë³„ í‰ê·  ì´ë™ê±°ë¦¬ë¥¼ êµ¬í•˜ì—¬ë¼

print(df[["ì—°ë ¹ëŒ€ì½”ë“œ", "ì´ë™ê±°ë¦¬"]].groupby("ì—°ë ¹ëŒ€ì½”ë“œ").mean())

              ì´ë™ê±°ë¦¬
ì—°ë ¹ëŒ€ì½”ë“œ
20ëŒ€    3211.890552
30ëŒ€    3341.443859
40ëŒ€    3514.857416
50ëŒ€    3593.668100
60ëŒ€    3538.145737
70ëŒ€~   3085.039641
~10ëŒ€   2634.426279

In [ ]:
# 36. ì—°ë ¹ëŒ€ ì½”ë“œê°€ 20ëŒ€ì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³ ,ì´ë™ê±°ë¦¬ê°’ì´ ì¶”ì¶œí•œ ë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê·  ì´ìƒì¸ ë°ì´í„°ë¥¼ ì¶”ì¶œí•œë‹¤.
# ìµœì¢… ì¶”ì¶œëœ ë°ì´í„°ë¥¼ ëŒ€ì—¬ì¼ì, ëŒ€ì—¬ì†Œ ë²ˆí˜¸ ìˆœì„œë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ í›„ 1í–‰ë¶€í„° 200í–‰ê¹Œì§€ì˜ íƒ„ì†ŒëŸ‰ì˜ í‰ê· ì„ ì†Œìˆ«ì  3ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

twenties = df[df["ì—°ë ¹ëŒ€ì½”ë“œ"]  == "20ëŒ€"]
tw_mean = twenties[twenties["ì´ë™ê±°ë¦¬"] >= twenties["ì´ë™ê±°ë¦¬"].mean()]

to200 = tw_mean.sort_values(["ëŒ€ì—¬ì¼ì", "ëŒ€ì—¬ì†Œë²ˆí˜¸"], ascending = False).reset_index(drop = True).head(200)
to200["íƒ„ì†ŒëŸ‰"] = to200["íƒ„ì†ŒëŸ‰"].astype('float64')

print(round(to200["íƒ„ì†ŒëŸ‰"].mean(), 3))

1.613

In [ ]:
# 37. 6ì›” 7ì¼ ~10ëŒ€ì˜ â€œì´ìš©ê±´ìˆ˜â€ì˜ ì¤‘ì•™ê°’ì€?

print(df["ì´ìš©ê±´ìˆ˜"][(df["ëŒ€ì—¬ì¼ì"] == "2021-06-07") & (df["ì—°ë ¹ëŒ€ì½”ë“œ"] == "~10ëŒ€")].median())

1.0

In [ ]:
# 38. í‰ì¼ (ì›”~ê¸ˆ) ì¶œê·¼ ì‹œê°„ëŒ€(ì˜¤ì „ 6,7,8ì‹œ)ì˜ ëŒ€ì—¬ì†Œë³„ ì´ìš© íšŸìˆ˜ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ í˜•íƒœë¡œ í‘œí˜„í•œ í›„ ê° ëŒ€ì—¬ì‹œê°„ë³„ ì´ìš© íšŸìˆ˜ì˜ ìƒìœ„ 3ê°œ ëŒ€ì—¬ì†Œì™€ ì´ìš©íšŸìˆ˜ë¥¼ ì¶œë ¥í•˜ë¼

# ìŠ¤í‚µ

In [ ]:
# 39. ì´ë™ê±°ë¦¬ì˜ í‰ê·  ì´ìƒì˜ ì´ë™ê±°ë¦¬ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ì—¬ ì¶”ì¶œë°ì´í„°ì˜ ì´ë™ê±°ë¦¬ì˜ í‘œë³¸í‘œì¤€í¸ì°¨ ê°’ì„ êµ¬í•˜ì—¬ë¼

print(df["ì´ë™ê±°ë¦¬"][df["ì´ë™ê±°ë¦¬"] >= df["ì´ë™ê±°ë¦¬"].mean()].std())

5092.139707505356

In [ ]:
# 40. ë‚¨ì„±(â€˜Mâ€™ or â€˜mâ€™)ê³¼ ì—¬ì„±(â€˜Fâ€™ or â€˜fâ€™)ì˜ ì´ë™ê±°ë¦¬ê°’ì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼

male = df["ì´ë™ê±°ë¦¬"][df["ì„±ë³„"].str.lower() == "m"].mean()
female = df["ì´ë™ê±°ë¦¬"][df["ì„±ë³„"].str.lower() == "f"].mean()

print("ë‚¨ì„±:", male, "ì—¬ì„±:", female)

ë‚¨ì„±: 3209.1108714530546 ì—¬ì„±: 3468.5750252981957

In [ ]:
#@title 41 ~ 50ë²ˆ

import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv',encoding='utf-8')
df.head()

,í–‰ë³µë­í‚¹,ë‚˜ë¼ëª…,ì ìˆ˜,ìƒëŒ€GDP,ì‚¬íšŒì ì§€ì›,í–‰ë³µê¸°ëŒ€ì¹˜,ì„ íƒì˜ ììœ ë„,ê´€ëŒ€í•¨,ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹,ë…„ë„
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,2019
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,2019
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,2019

In [ ]:
# 41. ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 10ìœ„ë¥¼ ì°¨ì§€í•œ ë‚˜ë¼ì˜ í–‰ë³µì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

print(df["ì ìˆ˜"][df["í–‰ë³µë­í‚¹"] == 10].mean())

7.259

In [ ]:
# 42. ë°ì´í„°ëŠ” 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ ì „ì„¸ê³„ í–‰ë³µ ì§€ìˆ˜ë¥¼ í‘œí˜„í•œë‹¤. ê°ë…„ë„ì˜ í–‰ë³µë­í‚¹ 50ìœ„ì´ë‚´ì˜ ë‚˜ë¼ë“¤ì˜ ê°ê°ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œì‹œí•˜ë¼

pd.DataFrame(df[df["í–‰ë³µë­í‚¹"] <= 50].groupby("ë…„ë„").mean()["ì ìˆ˜"])

           ì ìˆ˜
ë…„ë„
2018  6.64678
2019  6.67002

In [ ]:
# 43. 2018ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ í–‰ë³µì ìˆ˜ì™€ ë¶€íŒ¨ì— ëŒ€í•œ ì¸ì‹ì— ëŒ€í•œ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

print(df[["ì ìˆ˜", "ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹"]][df["ë…„ë„"] == 2018].corr().iloc[0, 1])

0.40529152271510027

In [ ]:
# 44. 2018ë…„ë„ì™€ 2019ë…„ë„ì˜ í–‰ë³µë­í‚¹ì´ ë³€í™”í•˜ì§€ ì•Šì€ ë‚˜ë¼ëª…ì˜ ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

print(len(df[["í–‰ë³µë­í‚¹", "ë‚˜ë¼ëª…"]]) - len(df[["í–‰ë³µë­í‚¹", "ë‚˜ë¼ëª…"]].drop_duplicates()))

15

In [ ]:
# 45. 2019ë…„ë„ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí•˜ì—¬ ê°ë³€ìˆ˜ê°„ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ê³  ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•œ í›„ ìƒìœ„ 5ê°œë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ì¶œë ¥í•˜ë¼. ì»¬ëŸ¼ëª…ì€ v1,v2,corrìœ¼ë¡œ í‘œì‹œí•˜ë¼

result = df[df["ë…„ë„"] == 2019].corr().unstack().reset_index().dropna()

result = result.sort_values(0, ascending = False).drop_duplicates(0)[result[0] != 1].head(5).reset_index(drop = True)
result.columns = ["v1", "v2", "corr"]

print(result)

      v1     v2      corr
0  í–‰ë³µê¸°ëŒ€ì¹˜  ìƒëŒ€GDP  0.835462
1     ì ìˆ˜  ìƒëŒ€GDP  0.793883
2  í–‰ë³µê¸°ëŒ€ì¹˜     ì ìˆ˜  0.779883
3     ì ìˆ˜  ì‚¬íšŒì ì§€ì›  0.777058
4  ìƒëŒ€GDP  ì‚¬íšŒì ì§€ì›  0.754906

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """

In [ ]:
# 46. ê° ë…„ë„ë³„ í•˜ìœ„ í–‰ë³µì ìˆ˜ì˜ í•˜ìœ„ 5ê°œ êµ­ê°€ì˜ í‰ê·  í–‰ë³µì ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

print(df.groupby("ë…„ë„").tail(5).groupby("ë…„ë„").mean()["ì ìˆ˜"])

ë…„ë„
2018    3.1800
2019    3.1408
Name: ì ìˆ˜, dtype: float64

In [ ]:
# 47. 2019ë…„ ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ê³  í•´ë‹¹ë°ì´í„°ì˜ ìƒëŒ€ GDP í‰ê·  ì´ìƒì˜ ë‚˜ë¼ë“¤ê³¼ í‰ê·  ì´í•˜ì˜ ë‚˜ë¼ë“¤ì˜ í–‰ë³µì ìˆ˜ í‰ê· ì„ ê°ê° êµ¬í•˜ê³  ê·¸ ì°¨ì´ê°’ì„ ì¶œë ¥í•˜ë¼

upper = df["ì ìˆ˜"][(df["ë…„ë„"] == 2019) & (df["ìƒëŒ€GDP"] >= df["ìƒëŒ€GDP"].mean())].mean()
lower = df["ì ìˆ˜"][(df["ë…„ë„"] == 2019) & (df["ìƒëŒ€GDP"] <= df["ìƒëŒ€GDP"].mean())].mean()

print(abs(upper - lower))

1.390483957219251

In [ ]:
# 48. ê°ë…„ë„ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì„ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬í–ˆì„ë•Œ ìƒìœ„ 20ê°œ êµ­ê°€ì˜ ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

print(df.sort_values("ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹", ascending = False).groupby("ë…„ë„").head(20).groupby("ë…„ë„").mean()["ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹"])

ë…„ë„
2018    0.3267
2019    0.3201
Name: ë¶€íŒ¨ì— ëŒ€í•œì¸ì‹, dtype: float64

In [ ]:
# 49. 2018ë…„ë„ í–‰ë³µë­í‚¹ 50ìœ„ ì´ë‚´ì— í¬í•¨ëë‹¤ê°€ 2019ë…„ 50ìœ„ ë°–ìœ¼ë¡œ ë°€ë ¤ë‚œ êµ­ê°€ì˜ ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

y2018 = (df["ë‚˜ë¼ëª…"][(df["ë…„ë„"] == 2018) & (df["í–‰ë³µë­í‚¹"] <= 50)])
y2019 = (df["ë‚˜ë¼ëª…"][(df["ë…„ë„"] == 2019) & (df["í–‰ë³µë­í‚¹"] > 50)])

print(y2018.isin(y2019).sum())

3

In [ ]:
# 50. 2018ë…„,2019ë…„ ëª¨ë‘ ê¸°ë¡ì´ ìˆëŠ” ë‚˜ë¼ë“¤ ì¤‘ ë…„ë„ë³„ í–‰ë³µì ìˆ˜ê°€ ê°€ì¥ ì¦ê°€í•œ ë‚˜ë¼ì™€ ê·¸ ì¦ê°€ ìˆ˜ì¹˜ëŠ”?

count = df.value_counts("ë‚˜ë¼ëª…")
target = count[count > 1].index

df1 = df.copy()
df1 = df1[df1["ë‚˜ë¼ëª…"].isin(target)].reset_index(drop = True)
df1["ì ìˆ˜"][df1["ë…„ë„"] == 2018] = df1["ì ìˆ˜"][df1["ë…„ë„"] == 2018].values * (-1)

print(df1.groupby("ë‚˜ë¼ëª…").sum().sort_values("ì ìˆ˜", ascending = False).head(1)["ì ìˆ˜"])

ë‚˜ë¼ëª…
Burundi    0.87
Name: ì ìˆ˜, dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
#@title 51 ~ 60ë²ˆ

import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv')
df.head()

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,1/1/2017 0:00,6.559,73.8,0.083,0.051,0.119,34055.69620,16128.87538,20240.96386
1,1/1/2017 0:10,6.414,74.5,0.083,0.070,0.085,29814.68354,19375.07599,20131.08434
2,1/1/2017 0:20,6.313,74.5,0.080,0.062,0.100,29128.10127,19006.68693,19668.43373
3,1/1/2017 0:30,6.121,75.0,0.083,0.091,0.096,28228.86076,18361.09422,18899.27711
4,1/1/2017 0:40,5.921,75.7,0.081,0.048,0.085,27335.69620,17872.34043,18442.40964

In [ ]:
# 51. DateTimeì»¬ëŸ¼ì„ í†µí•´ ê° ì›”ë³„ë¡œ ëª‡ê°œì˜ ë°ì´í„°ê°€ ìˆëŠ”ì§€ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ êµ¬í•˜ì—¬ë¼

df["DateTime"] = pd.to_datetime(df["DateTime"])

pd.DataFrame(df.groupby(df["DateTime"].dt.month).size())

             0
DateTime
1         4464
2         4032
3         4464
4         4320
5         4464
6         4320
7         4464
8         4464
9         4320
10        4464
11        4320
12        4320

In [ ]:
# 52. 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë‚®ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼

march = df[df["DateTime"].dt.month == 3].reset_index(drop = True)

print(march.groupby(march["DateTime"].dt.hour).mean().min()["Temperature"])

11.506612903225806

In [ ]:
# 53. 3ì›”ë‹¬ì˜ ê° ì‹œê°„ëŒ€ë³„ ì˜¨ë„ì˜ í‰ê· ë“¤ ì¤‘ ê°€ì¥ ë†’ì€ ì‹œê°„ëŒ€ì˜ ì˜¨ë„ë¥¼ ì¶œë ¥í•˜ë¼

march = df[df["DateTime"].dt.month == 3]

print(march.groupby(march["DateTime"].dt.hour).mean().max()["Temperature"])

18.393602150537635

In [ ]:
# 54. Zone 1 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ê°€ Zone 2 Power Consumption ì»¬ëŸ¼ì˜ valueê°’ì˜ í¬ê¸°ë³´ë‹¤ í° ë°ì´í„°ë“¤ì˜ Humidityì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

print(df["Humidity"][df["Zone 1 Power Consumption"] > df["Zone 2  Power Consumption"]].mean())

68.23624448055052

In [ ]:
# 55. ê° zoneì˜ ì—ë„ˆì§€ ì†Œë¹„ëŸ‰ì˜ ìƒê´€ê´€ê³„ë¥¼ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œê¸°í•˜ë¼

pd.DataFrame(df[["Zone 1 Power Consumption", "Zone 2  Power Consumption", "Zone 3  Power Consumption"]].corr())

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

In [ ]:
# 56. Temperatureì˜ ê°’ì´ 10ë¯¸ë§Œì˜ ê²½ìš° A, 10ì´ìƒ 20ë¯¸ë§Œì˜ ê²½ìš° B,20ì´ìƒ 30ë¯¸ë§Œì˜ ê²½ìš° C, ê·¸ ì™¸ì˜ ê²½ìš° Dë¼ê³  í• ë•Œ ê° ë‹¨ê³„ì˜ ë°ì´í„° ìˆ«ìë¥¼ êµ¬í•˜ì—¬ë¼

def split_data(x) :
  if x < 10 :
    return "A"
  elif x < 20 :
    return "B"
  elif x < 30 :
    return "C"
  else :
    return "D"

df["sp"] = df["Temperature"].map(split_data)
print(df["sp"].value_counts())

B    26993
C    21105
A     2874
D     1444
Name: sp, dtype: int64

In [ ]:
# 57. 6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ í‘œì¤€í¸ì°¨ë¥¼ êµ¬í•˜ì—¬ë¼

df["DateTime"] = pd.to_datetime(df["DateTime"])

print(df["Temperature"][(df["DateTime"].dt.month == 6) & (df["DateTime"].dt.hour == 12)].std())

2.0499417827951025

In [ ]:
# 58. 6ì›” ë°ì´í„°ì¤‘ 12ì‹œì˜ Temperatureì˜ ë¶„ì‚°ì„ êµ¬í•˜ì—¬ë¼

df["DateTime"] = pd.to_datetime(df["DateTime"])

print(df["Temperature"][(df["DateTime"].dt.month == 6) & (df["DateTime"].dt.hour == 12)].var())

4.202261312849163

In [ ]:
# 59. Temperatureì˜ í‰ê· ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼ Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì€?

print(df[df["Temperature"] >= df["Temperature"].mean()].sort_values("Temperature").reset_index(drop = True).iloc[3]["Humidity"])

87.9

In [ ]:
# 60. Temperatureì˜ ì¤‘ê°„ê°’ ì´ìƒì˜ Temperatureì˜ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë¥¼Temperatureë¥¼ ê¸°ì¤€ìœ¼ë¡œ ì •ë ¬ í–ˆì„ë•Œ 4ë²ˆì§¸ í–‰ì˜ Humidity ê°’ì€?

print(df[df["Temperature"] >= df["Temperature"].median()].sort_values("Temperature").reset_index(drop = True).iloc[3]["Humidity"])

80.3

In [ ]:
#@title 61 ~ 70ë²ˆ

import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [ ]:
# 61. Legendary ì»¬ëŸ¼ì€ ì „ì„¤í¬ì¼“ëª¬ ìœ ë¬´ë¥¼ ë‚˜íƒ€ë‚¸ë‹¤.ì „ì„¤í¬ì¼“ëª¬ê³¼ ê·¸ë ‡ì§€ ì•Šì€ í¬ì¼“ëª¬ë“¤ì˜ HPí‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

print(df["HP"][df["Legendary"]].mean() - df["HP"][df["Legendary"] == False].mean())

25.55614861329147

In [ ]:
# 62. Type 1ì€ ì£¼ì†ì„± Type 2 ëŠ” ë¶€ì†ì„±ì„ ë‚˜íƒ€ë‚¸ë‹¤. ê°€ì¥ ë§ì€ ë¶€ì†ì„± ì¢…ë¥˜ëŠ” ë¬´ì—‡ì¸ê°€?
print(df.value_counts("Type 2").index[0])

Flying

In [ ]:
# 63. ê°€ì¥ ë§ì€ Type 1 ì˜ ì¢…ì˜ í‰ê·  Attack ì„ í‰ê·  Defenseë¡œ ë‚˜ëˆˆê°’ì€?

print(df["Attack"][df["Type 1"] == df.value_counts("Type 1").index[0]].mean() / df["Defense"][df["Type 1"] == df.value_counts("Type 1").index[0]].mean())

1.0165238678090576

In [ ]:
# 64. í¬ì¼“ëª¬ ì„¸ëŒ€(Generation) ì¤‘ ê°€ì¥ë§ì€ Legendaryë¥¼ ë³´ìœ í•œ ì„¸ëŒ€ëŠ” ëª‡ì„¸ëŒ€ì¸ê°€?

print(df["Generation"][df["Legendary"] == True].value_counts().index[0])

3

In [ ]:
# 65. â€˜HPâ€™, â€˜Attackâ€™, â€˜Defenseâ€™, â€˜Sp. Atkâ€™, â€˜Sp. Defâ€™, â€˜Speedâ€™ ê°„ì˜ ìƒê´€ ê³„ìˆ˜ì¤‘ ê°€ì¥ ì ˆëŒ“ê°’ì´ í° ë‘ ë³€ìˆ˜ì™€ ê·¸ ê°’ì„ êµ¬í•˜ì—¬ë¼

corr = df[["HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed"]].corr().unstack().reset_index().rename(columns = {0:"corr"})
print(corr[corr["corr"] != 1].sort_values("corr", ascending = False).reset_index(drop = True).head(1))

   level_0  level_1      corr
0  Sp. Def  Defense  0.510747

In [ ]:
# 66. ê° Generationì˜ Attackìœ¼ë¡œ ì˜¤ë¦„ì°¨ìˆœ ì •ë ¬ì‹œ ìƒìœ„ 3ê°œ ë°ì´í„°ë“¤(18ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

print(df.sort_values("Attack", ascending = True).groupby("Generation").head(3)["Attack"].mean())

19.5

In [ ]:
# 67. ê° Generationì˜ Attackìœ¼ë¡œ ë‚´ë¦¼ì°¨ìˆœ ì •ë ¬ì‹œ ìƒìœ„ 5ê°œ ë°ì´í„°ë“¤(30ê°œ)ì˜ Attackì˜ ì „ì²´ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

print(df.sort_values("Attack", ascending = False).groupby("Generation").head(5)["Attack"].mean())

157.23333333333332

In [ ]:
# 68. ê°€ì¥ í”í•˜ê²Œ ë°œê²¬ë˜ëŠ” (Type1 , Type2) ì˜ ìŒì€ ë¬´ì—‡ì¸ê°€?

print(df[["Type 1", "Type 2"]].value_counts().head(1))

Type 1  Type 2
Normal  Flying    24
dtype: int64

In [ ]:
# 69. í•œë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1 , Type2)ì˜ ìŒì˜ ê°¯ìˆ˜ëŠ” ëª‡ê°œì¸ê°€?

print(df[["Type 1", "Type 2"]].value_counts()[df[["Type 1", "Type 2"]].value_counts() == 1].size)

39

In [ ]:
# 70. í•œë²ˆì”©ë§Œ ì¡´ì¬í•˜ëŠ” (Type1 , Type2)ì˜ ìŒì„ ê° ì„¸ëŒ€(Generation)ì€ ê°ê° ëª‡ê°œì”© ê°€ì§€ê³  ìˆëŠ”ê°€?

target = df[['Type 1', 'Type 2']].value_counts()
target2 = target[target == 1]

lst = []
for value in target2.reset_index().values :
  t1 = value[0]
  t2 = value[1]

  sp = df[(df["Type 1"] == t1) & (df["Type 2"] == t2)]
  lst.append(sp)

result = pd.concat(lst).reset_index(drop = True).value_counts("Generation").sort_index()
print(result)

Generation
1     1
2     4
3     5
4    13
5     7
6     9
dtype: int64

In [ ]:
#@title 71 ~ 80ë²ˆ

import pandas as pd
df =pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv')
df.head()

,ì¸¡ì •ë‚˜ì´,ì¸¡ì •íšŒì›ì„±ë³„,ì‹ ì¥ : cm,ì²´ì¤‘ : kg,ì²´ì§€ë°©ìœ¨ : %,ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg,ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg,ì•…ë ¥D : kg,ì•‰ì•„ìœ—ëª¸ì•ìœ¼ë¡œêµ½íˆê¸° : cm,êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ,ì œìë¦¬ ë©€ë¦¬ë›°ê¸° : cm,ë“±ê¸‰
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C
1,40.0,F,161.4,45.8,21.7,62.0,119.0,22.1,16.0,32.0,165.0,B
2,27.0,M,176.6,84.8,19.2,87.0,153.0,45.9,13.2,61.0,216.0,B
3,38.0,M,167.6,76.7,24.7,63.0,132.0,43.6,16.0,45.0,231.0,A
4,21.0,M,165.2,66.2,21.5,83.0,106.0,33.5,10.6,46.0,198.0,C

In [ ]:
# 71. ì „ì²´ë°ì´í„°ì˜ ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) - ì´ì™„ê¸°í˜ˆì••(ìµœì €)ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

print((df["ìˆ˜ì¶•ê¸°í˜ˆì••(ìµœê³ ) : mmHg"] - df["ì´ì™„ê¸°í˜ˆì••(ìµœì €) : mmHg"]).mean())

52.19539414750672

In [ ]:
# 72. 50~59ì„¸ì˜ ì‹ ì¥í‰ê· ì„ êµ¬í•˜ì—¬ë¼

print(df["ì‹ ì¥ : cm"][(df["ì¸¡ì •ë‚˜ì´"] >= 50) & (df["ì¸¡ì •ë‚˜ì´"] <= 59)].mean())

164.07490107405314

In [ ]:
# 73. ì—°ë ¹ëŒ€ (20~29 : 20ëŒ€ â€¦) ë³„ ì¸ì›ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

df["ì—°ë ¹ëŒ€"] = df["ì¸¡ì •ë‚˜ì´"] // 10 * 10

print(df.value_counts("ì—°ë ¹ëŒ€"))

ì—°ë ¹ëŒ€
20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
dtype: int64

In [ ]:
# 74. ì—°ë ¹ëŒ€ (20~29 : 20ëŒ€ â€¦) ë³„ ë“±ê¸‰ì˜ ìˆ«ìë¥¼ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

pd.DataFrame(df.groupby(["ì—°ë ¹ëŒ€", "ë“±ê¸‰"]).size())

            0
ì—°ë ¹ëŒ€  ë“±ê¸‰
20.0 A   1585
     B   1443
     C   1455
     D   1348
30.0 A    743
     B    697
     C    626
     D    594
40.0 A    386
     B    428
     C    455
     D    532
50.0 A    321
     B    410
     C    474
     D    564
60.0 A    314
     B    371
     C    339
     D    311

In [ ]:
# 75. ë‚¨ì„± ì¤‘ Aë“±ê¸‰ê³¼ Dë“±ê¸‰ì˜ ì²´ì§€ë°©ë¥  í‰ê· ì˜ ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼

print(abs(df["ì²´ì§€ë°©ìœ¨ : %"][(df["ì¸¡ì •íšŒì›ì„±ë³„"] == "M") & (df["ë“±ê¸‰"] == "A")].mean() - df["ì²´ì§€ë°©ìœ¨ : %"][(df["ì¸¡ì •íšŒì›ì„±ë³„"] == "M") & (df["ë“±ê¸‰"] == "D")].mean()))

7.932086486137521

In [ ]:
# 76. ì—¬ì„± ì¤‘ Aë“±ê¸‰ê³¼ Dë“±ê¸‰ì˜ ì²´ì¤‘ì˜ í‰ê· ì˜ ì°¨ì´(í° ê°’ì—ì„œ ì‘ì€ ê°’ì˜ ì°¨)ë¥¼ êµ¬í•˜ì—¬ë¼

print(abs(df["ì²´ì¤‘ : kg"][(df["ì¸¡ì •íšŒì›ì„±ë³„"] == "F") & (df["ë“±ê¸‰"] == "A")].mean() - df["ì²´ì¤‘ : kg"][(df["ì¸¡ì •íšŒì›ì„±ë³„"] == "F") & (df["ë“±ê¸‰"] == "D")].mean()))

5.176211590296504

In [ ]:
# 77. bmiëŠ” ìì‹ ì˜ ëª¸ë¬´ê²Œ(kg)ë¥¼ í‚¤ì˜ ì œê³±(m)ìœ¼ë¡œ ë‚˜ëˆˆê°’ì´ë‹¤. ë°ì´í„°ì˜ bmi ë¥¼ êµ¬í•œ ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ë§Œë“¤ê³  ë‚¨ì„±ì˜ bmi í‰ê· ì„ êµ¬í•˜ì—¬ë¼

df["bmi"] = df["ì²´ì¤‘ : kg"] / ((df["ì‹ ì¥ : cm"] / 100) ** 2)

print(df["bmi"][df["ì¸¡ì •íšŒì›ì„±ë³„"] == "M"].mean())

24.46134409819308

In [ ]:
# 78. bmië³´ë‹¤ ì²´ì§€ë°©ìœ¨ì´ ë†’ì€ ì‚¬ëŒë“¤ì˜ ì²´ì¤‘í‰ê· ì„ êµ¬í•˜ì—¬ë¼

print(df["ì²´ì¤‘ : kg"][df["bmi"] < df["ì²´ì§€ë°©ìœ¨ : %"]].mean())

61.7408806392542

In [ ]:
# 79. ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ ì•…ë ¥ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

print(abs(df["ì•…ë ¥D : kg"][df["ì¸¡ì •íšŒì›ì„±ë³„"] == "M"].mean() - df["ì•…ë ¥D : kg"][df["ì¸¡ì •íšŒì›ì„±ë³„"] == "F"].mean()))

17.55954185047464

In [ ]:
# 80. ë‚¨ì„±ê³¼ ì—¬ì„±ì˜ êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° íšŸìˆ˜ì˜ í‰ê· ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

print(abs(df["êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ"][df["ì¸¡ì •íšŒì›ì„±ë³„"] == "M"].mean() - df["êµì°¨ìœ—ëª¸ì¼ìœ¼í‚¤ê¸° : íšŒ"][df["ì¸¡ì •íšŒì›ì„±ë³„"] == "F"].mean()))

14.243156833157627

In [ ]:
#@title 81 ~ 82ë²ˆ

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/weather/weather2.csv")
df.head()

                  time  ì´í™”ë™ê°•ìˆ˜  ì´í™”ë™ê¸°ì˜¨  ìˆ˜ì˜ë™ê°•ìˆ˜  ìˆ˜ì˜ë™ê¸°ì˜¨
0  2020-01-01 00:00:00    0.1   -3.9    0.0    2.5
1  2020-01-01 01:00:00    0.0   -3.1    0.0    3.4
2  2020-01-01 02:00:00    0.0   -1.8    0.0    3.8
3  2020-01-01 03:00:00    0.0   -0.8    0.0    4.6
4  2020-01-01 04:00:00    0.0   -0.1    0.0    5.1

In [ ]:
# 81. ì—¬ë¦„ì² (6ì›”,7ì›”,8ì›”) ì´í™”ë™ì´ ìˆ˜ì˜ë™ë³´ë‹¤ ë†’ì€ ê¸°ì˜¨ì„ ê°€ì§„ ì‹œê°„ëŒ€ëŠ” ëª‡ê°œì¸ê°€?

df["time"] = pd.to_datetime(df["time"])
print(len(df[(df["time"] >= "2020-06-01") & (df["time"] < "2020-09-01") & (df["ì´í™”ë™ê¸°ì˜¨"] > df["ìˆ˜ì˜ë™ê¸°ì˜¨"])]))

1415

In [ ]:
# 82. ì´í™”ë™ê³¼ ìˆ˜ì˜ë™ì˜ ìµœëŒ€ê°•ìˆ˜ëŸ‰ì˜ ì‹œê°„ëŒ€ë¥¼ ê°ê° êµ¬í•˜ì—¬ë¼

print(df["time"][df["ì´í™”ë™ê°•ìˆ˜"] == df["ì´í™”ë™ê°•ìˆ˜"].max()].values, df["time"][df["ìˆ˜ì˜ë™ê°•ìˆ˜"] == df["ìˆ˜ì˜ë™ê°•ìˆ˜"].max()].values)

['2020-09-30T09:00:00.000000000'] ['2020-07-23T12:00:00.000000000']

In [ ]:
#@title 83 ~ 85ë²ˆ

import pandas as pd
#ë°ì´í„° ë¡œë“œ
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0
2,7047,15737627,Rivero,589,Germany,Female,20,2,121093.29,2,1,0,3529.72,0
3,7503,15697844,Whitehouse,721,Spain,Female,32,10,0.00,1,1,0,136119.96,1
4,3439,15722404,Carpenter,445,France,Female,30,3,0.00,2,1,1,127939.19,0

In [ ]:
# 83. ë‚¨ì„± ì´íƒˆ(Exited)ì´ ê°€ì¥ ë§ì€ êµ­ê°€(Geography)ëŠ” ì–´ë””ì´ê³  ì´íƒˆ ì¸ì›ì€ ëª‡ëª…ì¸ê°€?

print(df[df["Gender"] == "Male"].groupby(["Geography"]).sum()["Exited"].sort_values(ascending = False).head(1))

Geography
Germany    287
Name: Exited, dtype: int64

In [ ]:
# 84. ì¹´ë“œë¥¼ ì†Œìœ (HasCrCard ==1)í•˜ê³  ìˆìœ¼ë©´ì„œ í™œì„±ë©¤ë²„(IsActiveMember ==1) ì¸ ê³ ê°ë“¤ì˜ í‰ê·  ë‚˜ì´ë¥¼ ì†Œìˆ«ì ì´í•˜ 4ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼.

print(round(df["Age"][(df["HasCrCard"] == 1) & (df["IsActiveMember"] == 1)].mean(), 4))

39.6102

In [ ]:
# 85. Balance ê°’ì´ ì¤‘ê°„ê°’ ì´ìƒì„ ê°€ì§€ëŠ” ê³ ê°ë“¤ì˜ CreditScoreì˜ í‘œì¤€í¸ì°¨ë¥¼ ì†Œìˆ«ì ì´í•˜ 3ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

print(round(df["CreditScore"][df["Balance"] >= df["Balance"].median()].std(), 3))

97.295

In [ ]:
#@title 86 ~ 87ë²ˆ

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/smoke/train.csv")
df.head()

,ì„±ë³„ì½”ë“œ,ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„),ì‹ ì¥(5Cmë‹¨ìœ„),ì²´ì¤‘(5Kgë‹¨ìœ„),í—ˆë¦¬ë‘˜ë ˆ,ì‹œë ¥(ì¢Œ),ì‹œë ¥(ìš°),ì²­ë ¥(ì¢Œ),ì²­ë ¥(ìš°),ìˆ˜ì¶•ê¸°í˜ˆì••,...,í˜ˆìƒ‰ì†Œ,ìš”ë‹¨ë°±,í˜ˆì²­í¬ë ˆì•„í‹°ë‹Œ,(í˜ˆì²­ì§€ì˜¤í‹°)AST,(í˜ˆì²­ì§€ì˜¤í‹°)ALT,ê°ë§ˆì§€í‹°í”¼,í¡ì—°ìƒíƒœ,êµ¬ê°•ê²€ì§„ìˆ˜ê²€ì—¬ë¶€,ì¹˜ì•„ìš°ì‹ì¦ìœ ë¬´,ì¹˜ì„
0,F,55,145,55,73.0,0.7,0.5,1.0,1.0,129.0,...,12.9,1.0,0.9,172.0,209.0,15.0,0,Y,0.0,Y
1,M,40,180,55,74.0,1.5,1.5,1.0,1.0,102.0,...,15.6,1.0,0.8,30.0,19.0,23.0,1,Y,0.0,Y
2,F,55,150,50,72.0,1.0,0.2,1.0,1.0,116.0,...,14.1,1.0,1.0,31.0,19.0,10.0,0,Y,0.0,N
3,M,40,170,85,89.0,1.0,0.8,1.0,1.0,124.0,...,16.7,1.0,1.0,26.0,38.0,108.0,1,Y,1.0,Y
4,F,40,155,45,62.0,0.5,1.0,1.0,1.0,127.0,...,12.9,1.0,0.7,20.0,11.0,13.0,0,Y,0.0,N

In [ ]:
# 86. ìˆ˜ì¶•ê¸°í˜ˆì••ê³¼ ì´ì™„ê¸° í˜ˆì••ê¸° ìˆ˜ì¹˜ì˜ ì°¨ì´ë¥¼ ìƒˆë¡œìš´ ì»¬ëŸ¼(â€˜í˜ˆì••ì°¨â€™) ìœ¼ë¡œ ìƒì„±í•˜ê³ , ì—°ë ¹ëŒ€ ì½”ë“œë³„ ê° ê·¸ë£¹ ì¤‘ â€˜í˜ˆì••ì°¨â€™ ì˜ ë¶„ì‚°ì´ 5ë²ˆì§¸ë¡œ í° ì—°ë ¹ëŒ€ ì½”ë“œë¥¼ êµ¬í•˜ì—¬ë¼

df["í˜ˆì••ì°¨"] = df["ìˆ˜ì¶•ê¸°í˜ˆì••"] - df["ì´ì™„ê¸°í˜ˆì••"]

print(df.groupby("ì—°ë ¹ëŒ€ì½”ë“œ(5ì„¸ë‹¨ìœ„)").std()["í˜ˆì••ì°¨"].sort_values(ascending = False).index[4])

60

In [ ]:
# 87. ë¹„ë§Œë„ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì§€í‘œì¸ WHtRëŠ” í—ˆë¦¬ë‘˜ë ˆ / í‚¤ë¡œ í‘œí˜„í•œë‹¤. ì¼ë°˜ì ìœ¼ë¡œ 0.58ì´ìƒì´ë©´ ë¹„ë§Œìœ¼ë¡œ ë¶„ë¥˜í•œë‹¤. ë°ì´í„°ì¤‘ WHtR ì§€í‘œìƒ ë¹„ë§Œì¸ ì¸ì›ì˜ ë‚¨/ì—¬ ë¹„ìœ¨ì„ êµ¬í•˜ì—¬ë¼

print(len(df[((df["í—ˆë¦¬ë‘˜ë ˆ"] / df["ì‹ ì¥(5Cmë‹¨ìœ„)"]) >= 0.58) & (df["ì„±ë³„ì½”ë“œ"] == "M")]) / len(df[((df["í—ˆë¦¬ë‘˜ë ˆ"] / df["ì‹ ì¥(5Cmë‹¨ìœ„)"]) >= 0.58) & (df["ì„±ë³„ì½”ë“œ"] == "F")]))

1.1693877551020408

In [ ]:
#@title 88 ~ 89ë²ˆ

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv")
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0
2,329036,Female,40,1,41.0,0,1-2 Year,Yes,33165.0,124.0,188,0
3,227288,Female,28,1,30.0,1,< 1 Year,No,29038.0,152.0,233,0
4,300441,Female,50,1,28.0,0,1-2 Year,Yes,31325.0,124.0,258,0

In [ ]:
# 88. Vehicle_Age ê°’ì´ 2ë…„ ì´ìƒì¸ ì‚¬ëŒë“¤ë§Œ í•„í„°ë§ í•˜ê³  ê·¸ì¤‘ì—ì„œ Annual_Premium ê°’ì´ ì „ì²´ ë°ì´í„°ì˜ ì¤‘ê°„ê°’ ì´ìƒì¸ ì‚¬ëŒë“¤ì„ ì°¾ê³ , ê·¸ë“¤ì˜ Vintageê°’ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

print(df["Vintage"][(df["Vehicle_Age"] >= "> 2 Years") & (df["Annual_Premium"] >= df["Annual_Premium"].median())].mean())

154.43647182359118

In [ ]:
# 89. vehicle_ageì— ë”°ë¥¸ ê° ì„±ë³„(gender)ê·¸ë£¹ì˜ Annual_Premiumê°’ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ ì•„ë˜ í…Œì´ë¸”ê³¼ ë™ì¼í•˜ê²Œ êµ¬í˜„í•˜ë¼

df.groupby(["Gender", "Vehicle_Age"], as_index = False)["Annual_Premium"].mean().pivot(index='Vehicle_Age',columns='Gender',values='Annual_Premium')

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

In [ ]:
#@title 90 ~ 91ë²ˆ

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv")
df.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [ ]:
# 90. price_range ì˜ ê° valueë¥¼ ê·¸ë£¹í•‘í•˜ì—¬ ê° ê·¸ë£¹ì˜ n_cores ì˜ ë¹ˆë„ê°€ ê°€ì¥ë†’ì€ valueì™€ ê·¸ ë¹ˆë„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

print(df[["price_range", "n_cores"]].groupby(["price_range", "n_cores"]).size().sort_values().groupby(level = 0).tail(1))

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

In [ ]:
# 91. price_range ê°’ì´ 3ì¸ ê·¸ë£¹ì—ì„œ ìƒê´€ê´€ê³„ê°€ 2ë²ˆì§¸ë¡œ ë†’ì€ ë‘ ì»¬ëŸ¼ê³¼ ê·¸ ìƒê´€ê³„ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼

corr = df[df["price_range"] == 3].corr().unstack().sort_values(ascending = False)

print(corr[corr != 1].reset_index().iloc[1])

level_0          pc
level_1          fc
0          0.635166
Name: 1, dtype: object

In [ ]:
#@title 92ë²ˆ

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/airline/train.csv")
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,55882,Male,Loyal Customer,42,Business travel,Business,473,1,1,3,...,5,5,5,5,3,5,3,3,0.0,satisfied
1,31906,Female,Loyal Customer,31,Business travel,Business,3271,4,4,4,...,3,3,5,5,3,4,3,1,5.0,satisfied
2,85481,Male,Loyal Customer,51,Personal Travel,Eco,214,5,0,5,...,3,4,4,4,4,4,3,2,0.0,satisfied
3,102134,Male,Loyal Customer,44,Business travel,Business,3097,1,1,3,...,4,4,4,4,3,4,5,0,0.0,satisfied
4,31580,Male,Loyal Customer,33,Business travel,Business,3286,1,1,1,...,4,2,5,2,5,1,4,0,0.0,satisfied

In [ ]:
# 92. Arrival Delay in Minutes ì»¬ëŸ¼ì´ ê²°ì¸¡ì¹˜ì¸ ë°ì´í„°ë“¤ ì¤‘ â€˜neutral or dissatisfiedâ€™ ë³´ë‹¤ â€˜satisfiedâ€™ì˜ ìˆ˜ê°€ ë” ë†’ì€ ClassëŠ” ì–´ë”” ì¸ê°€?

satisfied = df.loc[df['Arrival Delay in Minutes'].isna()].groupby(['Class','satisfaction'],as_index=False).size().pivot(index='Class',columns='satisfaction')

print(satisfied[satisfied["size"]["neutral or dissatisfied"] < satisfied["size"]["satisfied"]])

                                size
satisfaction neutral or dissatisfied satisfied
Class
Business                          36        76

In [ ]:
#@title 93ë²ˆ

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/waters/train.csv")
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,7.918150,214.186611,23823.492888,7.290878,341.173322,411.424483,19.585002,25.057375,4.028958,0
1,5.422446,205.266080,18542.957451,5.491963,306.702227,382.080129,10.504023,67.493450,2.911751,1
2,7.341547,187.672402,21273.457066,7.784003,NaN,332.084293,16.842334,55.019151,4.025644,0
3,9.056245,197.666301,17403.532167,7.688917,337.460176,414.766631,15.349869,63.696746,3.319354,0
4,5.039374,142.860598,40829.353167,7.271543,NaN,386.803057,16.823773,52.297113,4.957420,0

In [ ]:
# 93. phê°’ì€ ìƒë‹¹íˆ ë§ì€ ê²°ì¸¡ì¹˜ë¥¼ í¬í•¨í•œë‹¤. ê²°ì¸¡ì¹˜ë¥¼ ì œì™¸í•œ ë‚˜ë¨¸ì§€ ë°ì´í„°ë“¤ ì¤‘ ì‚¬ë¶„ìœ„ê°’ ê¸°ì¤€ í•˜ìœ„ 25%ì˜ ê°’ë“¤ì˜ í‰ê· ê°’ì€?

ph = df["ph"].dropna()
print(ph[ph <= ph.quantile(0.25)].mean())

5.057093462441731

In [ ]:
#@title 94ë²ˆ

import pandas as pd
train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv")
train.head()

   age     sex     bmi  children smoker     region      charges
0   64  female  39.330         0     no  northeast  14901.51670
1   47  female  27.830         0    yes  southeast  23065.42070
2   52  female  33.300         2     no  southwest  10806.83900
3   33  female  22.135         1     no  northeast   5354.07465
4   30    male  31.400         1     no  southwest   3659.34600

In [ ]:
# 94. í¡ì—°ìì™€ ë¹„í¡ì—°ì ê°ê° chargesì˜ ìƒìœ„ 10% ê·¸ë£¹ì˜ í‰ê· ì˜ ì°¨ì´ëŠ”?

smoke = train["charges"][train["smoker"] == "yes"]
no_smoke = train["charges"][train["smoker"] == "no"]

print(smoke[smoke >= smoke.quantile(0.9)].mean() - no_smoke[no_smoke >= no_smoke.quantile(0.9)].mean())

29297.954548156144

In [ ]:
#@title 95ë²ˆ

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice//train.csv")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800
2,7853220670,20140918T000000,540000.0,3,2.5,2860,8935,2.0,0,0,...,8,2860,0,2004,0,98065,47.5336,-121.855,2650,6167
3,3298201170,20141110T000000,350000.0,3,1.0,940,7811,1.0,0,0,...,6,940,0,1959,0,98008,47.6195,-122.118,1180,7490
4,7972604355,20140521T000000,218000.0,3,1.0,1020,7874,1.0,0,0,...,7,1020,0,1956,0,98106,47.5175,-122.346,1290,7320

In [ ]:
# 95. bedrooms ì˜ ë¹ˆë„ê°€ ê°€ì¥ ë†’ì€ ê°’ì„ ê°€ì§€ëŠ” ë°ì´í„°ë“¤ì˜ priceì˜ ìƒìœ„ 10%ì™€ í•˜ìœ„ 10%ê°’ì˜ ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

print(df["price"][df["bedrooms"] == df["bedrooms"].value_counts().index[0]].quantile(0.9) - df["price"][df["bedrooms"] == df["bedrooms"].value_counts().index[0]].quantile(0.1))

505500.0

In [ ]:
#@title 96ë²ˆ

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv")
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87

In [ ]:
# 96. Serial No. ì»¬ëŸ¼ì„ ì œì™¸í•˜ê³  â€˜Chance of Admitâ€™ì„ ì¢…ì†ë³€ìˆ˜, ë‚˜ë¨¸ì§€ ë³€ìˆ˜ë¥¼ ë…ë¦½ë³€ìˆ˜ë¼ í• ë•Œ, ëœë¤í¬ë ˆìŠ¤íŠ¸ë¥¼ í†µí•´ íšŒê·€ ì˜ˆì¸¡ì„ í•  ë–„ ë³€ìˆ˜ì¤‘ìš”ë„ ê°’ì„ ì¶œë ¥í•˜ë¼ (ì‹œë“œê°’ì— ë”°ë¼ ìˆœì„œëŠ” ë‹¬ë¼ì§ˆìˆ˜ ìˆìŒ)

df_new = df.drop("Serial No.", axis = 1)
X = df_new.drop("Chance of Admit", axis = 1)
y = df_new["Chance of Admit"]

from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X, y)

print(pd.DataFrame({'importance':model.feature_importances_},X.columns).sort_values('importance',ascending=False))

                   importance
CGPA                 0.797555
GRE Score            0.104203
TOEFL Score          0.031281
SOP                  0.023720
LOR                  0.022644
University Rating    0.013199
Research             0.007398

In [ ]:
#@title 97ë²ˆ

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5

In [ ]:
# 96. quality ê°’ì´ 3ì¸ ê·¸ë£¹ê³¼ 8ì¸ ë°ì´í„°ê·¸ë£¹ì˜ ê° ì»¬ëŸ¼ë³„ ë…ë¦½ë³€ìˆ˜ì˜ í‘œì¤€í¸ì°¨ ê°’ì˜ ì°¨ì´ë¥¼ êµ¬í• ë•Œ ê·¸ê°’ì´ ê°€ì¥ í° ì»¬ëŸ¼ëª…ì„ êµ¬í•˜ì—¬ë¼

print(abs(df[df["quality"] == 3].std() - df[df["quality"] == 8].std()).sort_values(ascending = False).index[0])

total sulfur dioxide

In [ ]:
#@title 98ë²ˆ

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv")
df.head()

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1
2   34   M  NORMAL        HIGH   22.456     0
3   17   M  NORMAL      NORMAL   10.832     4
4   72   M     LOW        HIGH   16.310     0

In [ ]:
# 98. ë‚¨ì„±ë“¤ì˜ ì—°ë ¹ëŒ€ë³„ (10ì‚´ì”© êµ¬ë¶„ 0~9ì„¸ 10~19ì„¸ â€¦) Na_to_Kê°’ì˜ í‰ê· ê°’ì„ êµ¬í•´ì„œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ì—¬ë¼

df["Age2"] = df["Age"] // 10 * 10
print(pd.DataFrame(df[df["Sex"] == "M"].groupby("Age2")["Na_to_K"].mean()))

        Na_to_K
Age2
10    13.627000
20    18.260769
30    15.244143
40    13.897273
50    14.811273
60    14.284308
70    11.363857

In [ ]:
#@title 99ë²ˆ

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/audit/train.csv")
df.head()

,Sector_score,LOCATION_ID,PARA_A,Score_A,Risk_A,PARA_B,Score_B,Risk_B,TOTAL,numbers,...,RiSk_E,History,Prob,Risk_F,Score,Inherent_Risk,CONTROL_RISK,Detection_Risk,Audit_Risk,Risk
0,2.72,14,4.53,0.6,2.718,87.93,0.6,52.758,92.46,5.0,...,0.4,0,0.2,0.0,4.0,108.362,0.4,0.5,21.6724,1
1,3.41,16,12.68,0.6,7.608,41.00,0.6,24.600,53.68,5.5,...,0.4,0,0.2,0.0,4.4,41.936,0.4,0.5,8.3872,1
2,2.72,11,3.11,0.6,1.866,113.97,0.6,68.382,117.08,5.5,...,0.4,0,0.2,0.0,4.4,88.832,0.4,0.5,17.7664,1
3,3.41,8,1.12,0.4,0.448,0.00,0.2,0.000,1.12,5.0,...,0.4,0,0.2,0.0,2.2,1.848,0.4,0.5,0.3696,0
4,55.57,9,1.06,0.4,0.424,0.00,0.2,0.000,1.06,5.0,...,0.4,0,0.2,0.0,2.2,1.824,0.4,0.5,0.3648,0

In [ ]:
# 99. ë°ì´í„°ì˜ Risk ê°’ì— ë”°ë¥¸ score_aì™€ score_bì˜ í‰ê· ê°’ì„ êµ¬í•˜ì—¬ë¼

print(df.groupby("Risk")[["Score_A", "Score_B"]].mean())

       Score_A   Score_B
Risk
0     0.262234  0.225532
1     0.490164  0.444262

In [ ]:
#@title 100ë²ˆ

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/train.csv")
df.head()

,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,motion_9,...,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63,pose
0,-6.0,8.0,5.0,6.0,-12.0,-27.0,5.0,24.0,-8.0,-5.0,...,-1.0,-3.0,-6.0,-9.0,-7.0,36.0,68.0,3.0,-3.0,1
1,-32.0,-3.0,-4.0,-5.0,-1.0,16.0,0.0,-5.0,42.0,2.0,...,-17.0,-12.0,-1.0,-1.0,0.0,-26.0,-11.0,-4.0,-9.0,1
2,35.0,-2.0,-1.0,1.0,-25.0,-16.0,-3.0,-20.0,10.0,1.0,...,6.0,-65.0,6.0,-10.0,-31.0,-19.0,-3.0,-47.0,-17.0,0
3,-15.0,-6.0,-3.0,-5.0,27.0,37.0,-2.0,-2.0,19.0,5.0,...,2.0,11.0,0.0,-2.0,-4.0,-7.0,15.0,3.0,14.0,1
4,60.0,3.0,0.0,-7.0,-6.0,-10.0,-6.0,7.0,-11.0,-4.0,...,-12.0,17.0,-3.0,1.0,2.0,-2.0,20.0,18.0,10.0,0

In [ ]:
# 100. poseê°’ì— ë”°ë¥¸ ê° motionì»¬ëŸ¼ì˜ ì¤‘ê°„ê°’ì˜ ê°€ì¥ í° ì°¨ì´ë¥¼ ë³´ì´ëŠ” motionì»¬ëŸ¼ì€ ì–´ë””ì´ë©° ê·¸ê°’ì€?
print(abs(df.groupby('pose').median().T[0] - df.groupby('pose').median().T[1]).sort_values().tail(1))

motion_62    4.0
dtype: float64

In [ ]:
#@title 101ë²ˆ

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv")
df.head()

,model,year,price,transmission,mileage,fuelType,tax(Â£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2
2,I30,2019,24000,Manual,555,Petrol,145,34.0,2.0
3,Tucson,2017,12995,Manual,32147,Diesel,30,61.7,1.7
4,Tucson,2018,14991,Semi-Auto,32217,Diesel,150,57.6,1.7

In [ ]:
# 101. ì •ë³´(rowìˆ˜)ê°€ ê°€ì¥ ë§ì€ ìƒìœ„ 3ì°¨ì¢…ì˜ priceê°’ì˜ ê° í‰ê· ê°’ì€?
print(df[df["model"].isin(df["model"].value_counts().index[:3])].groupby("model")["price"].mean())

model
 I10        7646.137891
 I30       11651.821759
 Tucson    15805.441373
Name: price, dtype: float64

In [ ]:
#@title 102ë²ˆ

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/diabetes/train.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3,102,74,0,0,29.5,0.121,32,0
1,2,144,58,33,135,31.6,0.422,25,1
2,5,136,82,0,0,0.0,0.640,69,0
3,13,145,82,19,110,22.2,0.245,57,0
4,1,117,60,23,106,33.8,0.466,27,0

In [ ]:
# 102. Outcome ê°’ì— ë”°ë¥¸ ê° ê·¸ë£¹ì˜ ê° ì»¬ëŸ¼ì˜ í‰ê·  ì°¨ì´ë¥¼ êµ¬í•˜ì—¬ë¼

print(abs(df[df["Outcome"] == 0].mean() - df[df["Outcome"] == 1].mean())[:-1])

Pregnancies                  1.574159
Glucose                     29.943995
BloodPressure                3.202079
SkinThickness                2.952033
Insulin                     33.398645
BMI                          4.541437
DiabetesPedigreeFunction     0.143646
Age                          5.866939
dtype: float64

In [ ]:
#@title 103ë²ˆ

import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv")
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200

In [ ]:
# 103. ë§¤ë…„ 5ì›”ë‹¬ì˜ openê°€ê²©ì˜ í‰ê· ê°’ì„ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼

df["Date"] = pd.to_datetime(df["Date"])
df["Year"] = df["Date"].dt.year

may = df[df["Date"].dt.month == 5]
pd.DataFrame(may.groupby("Year")["Open"].mean())

            Open
Year
2002    1.155833
2003    1.641497
2004    4.261143
2005    1.951905
2006    4.163571
2007    3.159351
2008    4.435034
2009    5.790571
2010   14.417071
2011   34.650272
2012   10.523247
2013   31.936429
2014   51.121292
2015   85.057429
2016   92.705715
2017  158.255455
2018  329.779541
2019  359.664548
2020  433.880499
2021  496.923996

In [2]:
#@title 104 ~ 113ë²ˆ

import pandas as pd
pd.set_option('display.max_columns',50)
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/nba/nba.csv",encoding='latin',sep=';')
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C,22,TOR,73,28,23.6,3.6,8.3,0.439,0.8,2.1,0.359,2.9,6.1,0.468,0.486,1.1,1.8,0.595,2.0,4.5,6.5,1.1,0.5,0.6,1.2,2.1,9.1
1,2,Steven Adams,C,28,MEM,76,75,26.3,2.8,5.1,0.547,0.0,0.0,0.000,2.8,5.0,0.548,0.547,1.4,2.6,0.543,4.6,5.4,10.0,3.4,0.9,0.8,1.5,2.0,6.9
2,3,Bam Adebayo,C,24,MIA,56,56,32.6,7.3,13.0,0.557,0.0,0.1,0.000,7.3,12.9,0.562,0.557,4.6,6.1,0.753,2.4,7.6,10.1,3.4,1.4,0.8,2.6,3.1,19.1
3,4,Santi Aldama,PF,21,MEM,32,0,11.3,1.7,4.1,0.402,0.2,1.5,0.125,1.5,2.6,0.560,0.424,0.6,1.0,0.625,1.0,1.7,2.7,0.7,0.2,0.3,0.5,1.1,4.1
4,5,LaMarcus Aldridge,C,36,BRK,47,12,22.3,5.4,9.7,0.550,0.3,1.0,0.304,5.1,8.8,0.578,0.566,1.9,2.2,0.873,1.6,3.9,5.5,0.9,0.3,1.0,0.9,1.7,12.9

In [ ]:
# 104. Tm ì»¬ëŸ¼ì€ ê° íŒ€ì˜ ì´ë¦„ì„ ì˜ë¯¸í•œë‹¤. TORíŒ€ì˜ í‰ê· ë‚˜ì´ë¥¼ ì†Œìˆ˜ 4ì§¸ ìë¦¬ê¹Œì§€ êµ¬í•˜ì—¬ë¼

print(round(df["Age"][df["Tm"] == "TOR"].mean(), 4))

24.8696

In [24]:
# 105. Pos ì»¬ëŸ¼ì€ í¬ì§€ì…˜ì„ ì˜ë¯¸í•œë‹¤. ì „ì²´ ì„ ìˆ˜ ì¤‘ ìµœì†Œë‚˜ì´ëŒ€ì˜ ì„ ìˆ˜ë“¤ì„ í•„í„°í•˜ê³  ê·¸ë“¤ ì¤‘ ê°€ì¥ ë§ì€ í¬ì§€ì…˜ì€ ë¬´ì—‡ì¸ì§€ í™•ì¸í•˜ë¼

print(df["Pos"][df["Age"] == df["Age"].min()].value_counts().index[0])

SG

In [25]:
# 106. ì„ ìˆ˜ë“¤ì˜ ì´ë¦„ì€ first_name+ ê³µë°± + last_nameìœ¼ë¡œ ì´ë£¨ì–´ì ¸ ìˆë‹¤. ê°€ì¥ ë§ì€ first_nameì€ ë¬´ì—‡ì´ë©° ëª‡ íšŒ ë°œìƒí•˜ëŠ”ì§€ í™•ì¸í•˜ë¼

print(df["Player"].str.split().str[0].value_counts().head(1))

Justin    14
Name: Player, dtype: int64

In [28]:
# 107. PTSì»¬ëŸ¼ì€ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ ì´ë‹¤. ê°í¬ì§€ì…˜ë³„ë¡œ ê²½ê¸°ë‹¹ í‰ê· ë“ì ìˆ˜ì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

print(df.groupby("Pos")["PTS"].mean())

Pos
C         7.690769
C-PF     12.850000
PF        7.737500
PF-SF     8.500000
PG        8.325161
PG-SG    22.000000
SF        7.270253
SF-SG     8.660000
SG        7.810553
SG-PG     9.525000
SG-SF     7.360000
Name: PTS, dtype: float64

In [37]:
# 108. Gì»¬ëŸ¼ì€ ì°¸ì—¬í•œ ê²½ê¸°ì˜ ìˆ«ìì´ë‹¤. ê° íŒ€ë³„ë¡œ ê°€ì¥ ë†’ì€ ê²½ê¸°ì°¸ì—¬ ìˆ˜ë¥¼ ê°€ì§„ ì„ ìˆ˜ë“¤ì˜ ê²½ê¸° ì°¸ì—¬ ìˆ«ìì˜ í‰ê· ì„ êµ¬í•˜ì—¬ë¼

print(df.sort_values(["Tm", "G"], ascending = False).groupby("Tm").head(1)["G"].mean())

77.51612903225806

In [41]:
# 109. Tmì˜ ê°’ì´ MIAì´ë©° PosëŠ” Cë˜ëŠ” PFì¸ ì„ ìˆ˜ì˜ MPê°’ì˜ í‰ê· ì€?

print(df["MP"][(df["Tm"] == "MIA") & (df["Pos"].isin(["C", "PF"]))].mean())

16.7875

In [43]:
# 110. ì „ì²´ ë°ì´í„°ì¤‘ Gì˜ í‰ê· ê°’ì˜ 1.5ë°° ì´ìƒì¸ ë°ì´í„°ë“¤ë§Œ ì¶”ì¶œí–ˆì„ë•Œ 3Pê°’ì˜ í‰ê· ì€?

print(df["3P"][df["G"] >= df["G"].mean() * 1.5].mean())

1.3853658536585365

In [44]:
# 111. Ageì˜ í‰ê·  ì´ìƒì¸ ê·¸ë£¹ê³¼ í‰ê·  ë¯¸ë§Œì¸ ê·¸ë£¹ê°„ì˜ Gê°’ì˜ í‰ê· ì˜ ì°¨ì´ëŠ”?

print(abs(df["G"][df["Age"] >= df["Age"].mean()].mean() - df["G"][df["Age"] <= df["Age"].mean()].mean()))

3.787674551781862

In [48]:
# 112. í‰ê· ë‚˜ì´ê°€ ê°€ì¥ ì Šì€ íŒ€ì€ ì–´ë””ì¸ê°€

print(df.groupby("Tm")["Age"].mean().sort_values().index[0])

MEM

In [49]:
# 113. Posê·¸ë£¹ë³„ í‰ê·  MPê°’ì„ êµ¬í•˜ì—¬ë¼

print(df.groupby("Pos")["MP"].mean())

Pos
C        16.990000
C-PF     25.350000
PF       17.937500
PF-SF    27.300000
PG       19.547742
PG-SG    37.200000
SF       17.514557
SF-SG    20.340000
SG       18.554271
SG-PG    22.950000
SG-SF    19.620000
Name: MP, dtype: float64